/*Raleway font*/
@import url(http://fonts.googleapis.com/css?family=Raleway:500,600,700,100,800,900,400,200,300);

*, html, body {
  font-family: raleway;
}

html{
  height: 100%;
}

body {
  min-height: 100%;
  overflow: hidden;
}

.full {
  height:100%;
  width:100%;
}

#everything {
  width:101%;
  height:101%;
  margin-left:-1%;
  margin-top:-1%;
  overflow: hidden;
}

#header-container {
  height:101%;
  width:101%;
  margin-left:-1%;
  margin-top:-1%;
  z-index:10000;
  pointer-events:none;
}

#loading-square {
  height:100px;
  width:100px;
  margin-top: 100px;
  position:relative;
  display:block;
  margin-left:auto;
  margin-right:auto;
  background-color: blue;
  opacity: 1;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  transition: -webkit-transform 6s, transform 6s linear;
  -webkit-transition: -webkit-transform 6s, transform 6s linear;
}

#loading-square.load {
  -webkit-transform: rotate(1080deg);
  transform: rotate(1080deg);
}

#loading-container {
  pointer-events:auto;
  z-index:10000000000000000000;
  background-color:black;
  height:101%;
  width:101%;
  text-align:center;
}

#header {
  pointer-events:auto;
  height:10% !important;
  width:101%;
  margin-left:1%;
  margin-top:0;
  background-color: rgba(0, 0, 0, 0.8);
}

#game-container-outer {
  height:100%;
  width:100%;
}

#header-container, #game-container {
  display:inline-block;
  position:absolute;
}

.background-full {
  width:100%;
  height:100%;
  position:absolute;
  display:inline-block;
}

/*Allows for a square.*/

#game-container {
  position:relative;
  width:80%;
  margin-left: 10%; /*should center this piece of crap*/
  margin-top: 8%;
}

#game-container:before {
  content: "";
	display: block;
	padding-top: 50%;
}

#gamey {
  position:absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border: 1px solid #E2E2E2;
}

.row {
  height:1px;
  width:100%;
  display:block;
  margin: 0 0 0 0;
  background-color:#E2E2E2;
  position:relative;
}

#player {
  height:50px;
  width:50px;
  display:inline-block;
  position:relative;
  margin: 0 0 0 0;
  background-color: blue;
  border: 1px solid blue;
}

.enemy {
  display:inline-block;
  position:absolute;
  margin: 0 0 0 0;
  background-color: red;
  border: 1px solid red;
}

.column {
  height:100%;
  width:1px;
  background-color:#E2E2E2;
  margin: 0 0 0 0;
  display:inline-block;
  position:relative;
}

h1 {
  font-family:helvetica;
  font-weight: 100;
  font-size:50px;
  color:gray;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  text-align:center;
  display:block;
}

#header-button-div, #header-h1-div {
  text-align:center;
  display:inline-block;
  position:absolute;
  height:100%;
  width:100%;
  margin-top:1%;
  pointer-events: none;
}

#header-h1 {
  margin-left:auto;
  margin-right:auto;
  left: 0;
  position:relative;
  color:white;
  transition: left 0.25s, color 0.25s;
  -webkit-transition: left 0.25s, color 0.25s;
}

#header-h1.active {
  left:-13%;
  color: gray;
}

#header-button-div-div {
  height:100%;
  width:100%;
  position:relative;
  display:inline-block;
  text-align:center;
  margin-left:auto;
  margin-right:auto;
  pointer-events: none;
}

#header-button {
  margin-left:auto;
  position:relative;
  opacity: 0;
  left: 0;
  cursor: pointer;
  pointer-events: auto;
  z-index:1000;
  color: white;
  transition: left 0.25s, opacity 0.25s;
  -webkit-transition: left 0.25s, opacity 0.25s;
}

#header-button.active {
  left:13%;
  opacity: 1;
}

#header-content {
  width:101%;
  background-color: rgba(0, 0, 0, 0.9);
  height:100%;
  margin-top:-100%;
  transition: margin-top 1s;
  -webkit-transition: margin-top 1s;
  text-align:center;
  pointer-events: auto;
  overflow-y: scroll;
}

#header-content.shown {
  margin-top:0;
  pointer-events:auto;
}

#header-content.shown * {
  pointer-events:auto;
  z-index:10000000;
}

p {
  color:white;
}

a {
  color:blue;
}

h2 {
  font-size:100px;
  font-weight:400;
  color: white;
}

h1.ultra {
  font-size:200px;
  text-align:center;
}

h6 {
  font-size:25px;
  font-weight:600;
  color:white;
}

#levels {
  width: 80%;
  position:relative;
  height: 80%;
  margin-left:auto;
  margin-right:auto;
}

.lvl-outer {
  display:inline-block;
  position:relative;
  background-color: rgba(50, 50, 50, 0.1);
  line-height:40px;
  border-radius: 10px;
  text-align:center;
  vertical-align: middle;
  opacity:0.3;
  cursor: auto;
  transition: background-color 0.25s, border-radius 0.25s;
  -webkit-transition: background-color 0.25s, border-radius 0.25s;
}

.lvl-outer p {
  position: absolute;
  top: 50%;
  margin: -22% 0 0 43%;
}

.lvl-outer.selectable {
  opacity:1;
  cursor: pointer;
  background-color: rgba(200, 200, 200, 0.4);
}

.lvl-outer:hover {
  background-color: #72B972;
  border-radius: 0px;
}

.lvl-outer:active {
  background-color: #FFF;
}

.lvl-outer.selected {
  background-color:#92EB93 !important;
  border-radius: 0px !important;
}

.lvl-outer.won {
  background-color: rgba(200, 255, 200, 0.5);
  border-radius: 0px;
  cursor:copy;
}

#playbutton {
  border: 1px solid white;
  border-radius:20px;
  background-color: transparent;
  transition: background-color 0.25s;
  -webkit-transition: background-color 0.25s;
  cursor:pointer;
}

#playbutton:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

#playbutton:active {
  background-color: rgba(255, 255, 255, 1);
}

.wall {
  margin:0;
  position:absolute;
  display:inline-block;
  background-color: gray;
  transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transition: transform 0.25s, -webkit-transform 0.25s;
  -webkit-transdition: transform 0.25s, -webkit-transform 0.25s;
  border: 1px solid #B9B9B9;
}

.wall.hit {
  transform: rotate(10deg);
  -webkit-transform: rotate(10deg);
  border: 1px solid #D65A5A;
}

.wall-mask {
  margin: 0;
}

#pend {
  margin: 0;
  position:absolute;
  display:inline-block;
  background-color: green;
  outline-color: #B9B9B9;
  outline-width: 1px;
  border: 1px solid #B9B9B9;
}

.instruction {
  margin: 0;
  position:absolute;
  display:inline-block;
  font-size: 30px;
  width: 50%;
  color:white;
  text-shadow: 0 0 5px #000;
  opacity: 0;
}

.explosion {
  margin: 0;
  opacity: 1;
  height: 50px;
  width: 50px;
  position:absolute;
  display:inline-block;
  background-color: red;
}
