/*Raleway font*/
@import url(http://fonts.googleapis.com/css?family=Raleway:500,600,700,100,800,900,400,200,300);

*, html, body {
  font-family: raleway;
}

html{
  height: 100%;
}

body {
  min-height: 100%;
  overflow: hidden;
}

.full {
  height:100%;
  width:100%;
}

#everything {
  width:101%;
  height:101%;
  margin-left:-1%;
  margin-top:-1%;
  overflow: hidden;
}

#header-container {
  height:101%;
  width:101%;
  margin-left:-1%;
  margin-top:-1%;
  z-index:10000;
  pointer-events:none;
}

#header {
  pointer-events:auto;
  height:10% !important;
  width:101%;
  margin-left:1%;
  margin-top:0;
  background-color: rgba(0, 0, 0, 0.8);
}

#game-container-outer {
  height:100%;
  width:100%;
}

#header-container, #game-container {
  display:inline-block;
  position:absolute;
}

.background-full {
  width:100%;
  height:100%;
  position:absolute;
  display:inline-block;
}

/*Allows for a square.*/

#game-container {
  position:relative;
  width:80%;
  margin-left: 10%; /*should center this piece of crap*/
  margin-top: 8%;
}

#game-container:before {
  content: "";
	display: block;
	padding-top: 50%;
}

#gamey {
  position:absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border: 1px solid black;
}

.row {
  height:1px;
  width:100%;
  display:block;
  margin: 0 0 0 0;
  background-color:black;
  position:relative;
}

#player {
  height:50px;
  width:50px;
  display:inline-block;
  position:relative;
  margin: 0 0 0 0;
  background-color: blue;
}

.enemy {
  display:inline-block;
  position:absolute;
  margin: 0 0 0 0;
  background-color: red;
}

.column {
  height:100%;
  width:1px;
  background-color:black;
  margin: 0 0 0 0;
  display:inline-block;
  position:relative;
}

h1 {
  font-family:helvetica;
  font-weight: 100;
  font-size:50px;
  color:gray;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  text-align:center;
  display:block;
}

#header-button-div, #header-h1-div {
  text-align:center;
  display:inline-block;
  position:absolute;
  height:100%;
  width:100%;
  margin-top:1%;
  pointer-events: none;
}

#header-h1 {
  margin-left:auto;
  margin-right:auto;
  left: 0;
  position:relative;
  color:white;
  transition: left 0.25s, color 0.25s;
  -webkit-transition: left 0.25s, color 0.25s;
}

#header-h1.active {
  left:-13%;
  color: gray;
}

#header-button-div-div {
  height:100%;
  width:100%;
  position:relative;
  display:inline-block;
  text-align:center;
  margin-left:auto;
  margin-right:auto;
  pointer-events: none;
}

#header-button {
  margin-left:auto;
  position:relative;
  opacity: 0;
  left: 0;
  cursor: pointer;
  pointer-events: auto;
  z-index:1000;
  color: white;
  transition: left 0.25s, opacity 0.25s;
  -webkit-transition: left 0.25s, opacity 0.25s;
}

#header-button.active {
  left:13%;
  opacity: 1;
}

#header-content {
  width:101%;
  background-color: rgba(0, 0, 0, 0.9);
  height:100%;
  margin-top:-100%;
  transition: margin-top 1s;
  -webkit-transition: margin-top 1s;
  text-align:center;
  pointer-events: auto;
}

#header-content.shown {
  margin-top:0;
  pointer-events:auto;
}

#header-content.shown * {
  pointer-events:auto;
  z-index:10000000;
}

p {
  color:white;
}

a {
  color:blue;
}

h2 {
  font-size:100px;
  font-weight:400;
  color: white;
}

#playbutton {
  border: 1px solid white;
  border-radius:20px;
  background-color: transparent;
  transition: background-color 0.25s;
  -webkit-transition: background-color 0.25s;
  cursor:pointer;
}

#playbutton:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

#playbutton:active {
  background-color: rgba(255, 255, 255, 1);
}

.wall {
  margin:0;
  position:absolute;
  display:inline-block;
  background-color: gray;
}

.wall-mask {
  margin: 0;
}
